<nav class="navbar navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#<%= nav_id %>">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="<%= nav_id %>">
    <ul class="nav navbar-nav">
    </ul>
  </div>
  <% if (true) {%>
      <form class="form-inline navbar-form">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success-outline" type="submit"><i class="fa fa-search"></i></button>
      </form>
  <% } %>
  <div class="collapse navbar-toggleable-xs pullright" id="<%= nav_id %>">
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>