li.list-group-item {
    height: 50px;
}

li.list-group-item div.form-group {
    position: absolute;
    ;
    left: 5px;
    top: 5px;
    width: 80%;
}

.remove {
    position: absolute;
    top: 5px;
    right: 5px;
}
button.button_add {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 60%
}
