* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 650px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
body {
    font-family: "Open Sans";
    line-height: 26px;
    margin: 0 auto;
    position: relative;
}
img{
    vertical-align: middle;
}
li {
    list-style:none;
}
a{
    color: #2095FE;
    outline: 0;
    text-decoration: none !important;
    display: inline-block;
}
a:visited, a:hover, a:active, a:focus{
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */

.top-left {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 18px
}

.top-right {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 18px
}

.error {
    color: red;
}
.left {
    float: left;
}
.right {
    float: right;
}
.nav-item .btn {
    margin: 2px;
}
.profile_image {
    max-height: 40px;
    max-width: 40px;
    float: left;
    margin-left: 2px;
    margin-right: 4px;
}
.input_label {
    color: #6464f0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: small;
}
#mnbody {
  padding-top: 60px;
}
