* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 650px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media screen and (max-width: 542px) {
    #mnheader ul.nav li.nav-item {
        width: 100%;
        display: block;
        clear: both;
        text-align: left;
        margin-left: 0 !important;
    }
    #mnheader nav .nav-middle {
        width: 80%;
        height: 2.5em;
    }
    #mnheader div.menu-items {
        width: 100%;
    }
}
body {
    font-family: "Open Sans";
    line-height: 26px;
    margin: 0 auto;
    position: relative;
}
img {
    vertical-align: middle;
}
ul li {
    list-style: none;
}
a {
    color: #2095FE;
    outline: 0;
    text-decoration: none !important;
    display: inline-block;
}
a:visited,
a:hover,
a:active,
a:focus {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

/* IE < 8 */

.top-left {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 18px
}
.top-right {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 18px
}
.error {
    color: red;
}
.left {
    float: left;
}
.right {
    float: right;
}
.nav-item .btn {
    margin: 2px;
}
.profile_image {
    max-height: 30px;
    max-width: 30px;
    float: left;
    margin-left: 2px;
    margin-right: 4px;
}
label {
    color: #6464f0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: small;
}
#mnbody {
    padding-top: 60px;
}
.inputList {
    padding: 5px;
}
.btn.edit {
    position: absolute;
    bottom: 2px;
    right: 2px;
    margin-right: 15px;
}
.btn.delete {
    position: absolute;
    top: 7px;
    right: 2px;
    margin-right: 14px;
    padding: 0px 4px;
}
p.hints {
    color: red;
}
.bd-footer {
    font-size: 85%;
    background-color: #f7f7f7;
}
.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}
.bd-footer-links li {
    display: inline-block;
}
.bd-footer-links li+li {
    margin-left: 1rem;
}
.bd-footer a {
    font-weight: 500;
    color: #55595c;
}
.bd-footer p {
    margin-bottom: 0;
}
.bd-footer a:hover {
    color: #0275d8;
}
.bd-footer a {
    font-weight: 500;
    color: #55595c;
}
.bootstrap-tagsinput input {
	min-width: 166px;
}
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
    display: block;
    background-color:white;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
    color: transparent;
}
.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}
.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}