li.list-group-item div.form-group
, #leftSide textarea.form-control
, #rightSide textarea.form-control {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.remove {
    position: absolute;
    top: 5px;
    right: 5px;
}

h4.card-title {
    position: relative;
}
p.card-text{
    position: relative;
}
button.button_add {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 30%
}
.add_item {
    text-align: right;
}
